body {
    text-align: center;
    font-family: Arial, sans-serif;
}

button {
    font-size: 18px;
    padding: 10px;
    margin: 5px;
}

#popupMessage {
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size:20px;
        opacity: 0; /* Hidden by default */
        transition: opacity 1.5s ease-out;

       
        
}
